%table.tablesorter.liker
  %thead
    %tr
      %th{:width => "30%"} Examen
      %th Estado
      %th Tiempo Restante
      %th Preguntas Respondidas
      %th Calificación
      %th Opciones

  %tbody
    -@estudiante_examenes.each do |ee|
      %tr
        %td= ee.examen.descripcion_simple
        %td= link_to_if (not ee.estado.id.eql? 'PREPARADO'), ee.estado.nombre, {:controller => 'estudiante_examenes', :action => 'show', :id => ee.id.to_s}
        %td= ee.tiempo ? "#{ee.tiempo} minutos" : "--"
        %td= ee.estudiante_examen_respuestas.count
        %td= total_and_sobre_20 ee
        %td
          =link_to "Limpiar Todo", {:controller => 'examenes', :action => 'reseteo_completo', :id => ee.id.to_s}, :class => 'btn'
          (
          =link_to "Habitar Para Presentar", {:controller => 'examenes', :action => 'habilitar_para_presentar', :id => ee.id.to_s}, :class => 'btn'
          |
          =link_to "Resetear Tiempo", {:controller => 'examenes', :action => 'resetear_tiempo', :id => ee.id.to_s}, :class => 'btn'
          |
          =link_to "Borrar Respuestas", {:controller => 'examenes', :action => 'borrar_respuestas', :id => ee.id.to_s}, :class => 'btn'
          )


