= render :partial => 'totales'

.well
  %h2 Detalles de las respuestas incorrectas:
  - @estudiante_examen.estudiante_examen_respuestas.each do |eer|  
    - unless eer.es_correcta?
      .well{:stule => 'background-color: red;'}
        %table
          %tr
            %td
              %b= eer.respuesta.pregunta.valor
          %tr
            %td 
              %b Respuesta:
            %td
              = text_field_tag nil, eer.valor, :disabled => true
              = "(#{eer.respuesta.valor})"
=# QUEDA PENDIENTE RESOLVER LO DE LAS PREGUNTAS NO RESPONDIDAS. NO APARECEN Y DEBERIAN