 
/ -if (ParametroGeneral.inscripcion_ninos_abierta && session[:tipo_curso].tipo_categoria_id == "NI") || ((ParametroGeneral.inscripcion_regulares_abierta || ParametroGeneral.inscripcion_cambio_abierta)&& session[:tipo_curso].tipo_categoria_id != "NI")
.well.info
	%h3 
		%u INFORMACIÓN Y NORMATIVA DEL PROGRAMA

	%ul
		%li La inscripción es válida UNICAMENTE para el período indicado. NO SE CONGELAN CUPOS POR NINGÚN MOTIVO.
		%li 
			La asistencia a clases es obligatoria: 
			%ul 
				%li 
					Cursos 
					%b LUN-MIE:
					Con 3 inasistencias se pierde el curso. 
				%li 
					Cursos 
					%b MAR-JUE:
					Con 3 inasistencias se pierde el curso. 
				%li
					Cursos
					%b SÁBADOS:
					Con 2 inasistencias se pierde el curso.
		%li La nota mínima aprobatoria es de 15 puntos. El cupo mínimo es de 15 participantes
		%li NO SE PERMITEN CAMBIOS DE SECCIÓN.
		%li El horario, sección y aula se reserva hasta la fecha indicada.
		%li Pago únicamente DEPOSITOS en EFECTIVO (NO CHEQUES, NI TRANSFERENCIAS).    

	-if session[:tipo_curso].tipo_categoria_id.eql? 'TE' or session[:tipo_curso].tipo_categoria_id.eql? 'NI'
		%h3 
			%u NORMATIVA PARA ADOLESCENTES Y NIÑOS

		%h3 Estimado representante:
		%h3 Le informamos que para poder inscribir a su representado en los cursos, debe apegarse a las siguientes condiciones:

		%ul
			%li Traer su merienda para hacer el receso en el salón de clase. Sólo podrán ir al cafetín con una autorización escrita de su representante por cada sesión de clase.
			%li Cumplir el horario de entrada y salida de clase. Si necesitan ausentarse y/o retirarse antes de la clase deben presentar una autorización escrita de su representante o presentarse y hablar directamente con el profesor.
			%li No llevar pelotas, patinetas, videojuegos u objetos similares al salón de clase.
		%h4{:style => 'color:crimson;'} **** Es importante que usted conozca al profesor y a los coordinadores del curso de su representado y esté en comunicación con los mismos ****

- if @estudiante_examenes.count > 0
	%H3 Exámenes:
	- @estudiante_examenes.each do |ee|
		- titulo = ee.examen.descripcion_simple 
		- if ee.examen.prueba #and ee.examen.prueba.eql? true
			=#ee.tipo_estado_estudiante_examen_id
			%h3
				= link_to "Presentar #{titulo} - #{ee.examen.curso_periodo.idioma.descripcion} ", {:controller => 'examenes', :action => 'indicaciones', :id => ee.examen_id}
				- if ee.completado? or ee.iniciado?
					|
					= link_to "Resultado #{titulo} - #{ee.examen.curso_periodo.idioma.descripcion}", {:controller => 'examenes', :action => 'resultado', :id => ee.id.to_s}
		- else 
			%h3
				- if ee.preparado?
					= link_to "Presentar #{titulo}", {:controller => 'examenes', :action => 'indicaciones', :id => ee.examen_id} if ee.examen.se_puede_presentar? 
				- else
					= link_to "Resultado #{titulo} - #{ee.examen.curso_periodo.idioma.descripcion}", {:controller => 'examenes', :action => 'resultado', :id => ee.id.to_s}
	%div.titulo Lista de exámenes y resultados


- if !@preinscrito
	- if @curso_abierto_regular
		%h3
			= link_to "Preinscribirse: #{@curso_abierto_regular.descripcion}", :action => "paso1", :controller => "inscripcion", :id => @curso_abierto_regular.id
		%div.titulo Preinscribirse en el periodo #{session[:parametros][:periodo_inscripcion]} como regular y obtener la Planilla

	- if @curso_abierto_cambio
		%h3
			=link_to "Preinscribirse: #{@curso_abierto_cambio.descripcion}", :action => "paso1", :controller => "inscripcion", :id => @curso_abierto_cambio.id
		%div.titulo Preinscribirse en el periodo #{session[:parametros][:periodo_inscripcion]} con cambio de horario y obtener la Planilla


-if @preinscrito and @descargar_planilla_inscripcion.eql? "SI"
	%h3
		=link_to "Obtener Planilla de Preinscripción", :action => "planilla_inscripcion", :controller => "inscripcion"
	%div.titulo Obtener de nuevo la planilla del periodo #{session[:parametros][:periodo_inscripcion]}

-if @nivelaciones and @descargar_planilla_inscripcion.eql? "SI"
	- @nivelaciones.each do |en|
		%h3
			=link_to "Obtener Planilla #{en.descripcion}", :controller => 'estudiante_nivelaciones',:action => "planilla_nivelacion", :id => en.id
		%div.titulo Obtener planilla #{en.descripcion} del periodo #{en.periodo_id}
%h3
	=link_to "Consultar Historial de Cursos", :action => "cursos", :controller => "estudiante"
%div.titulo Consulta el listado de tus Cursos Realizados

- if @ha and @ha.seccion
	- @nivel = @ha.tipo_nivel_id
	- if @ha.idioma_id.eql? 'IN'
		- @nivel += "-S" if ((@nivel.eql? "CB" or @nivel.eql? "CI") and @ha.seccion.bloque_horario.id.eql? 'H5')
	- elsif @ha.idioma_id.eql? 'FR'
		- @nivel += "-S" if (@ha.seccion.bloque_horario.id.eql? 'H5')

	- elsif @ha.idioma_id.eql? 'PG'
		- @nivel += "-S" if (@ha.seccion.bloque_horario.id.eql? 'H5' and (@nivel.eql? "BI" or @nivel.eql? "BII" or @nivel.eql? "CB" or @nivel.eql? "CI" or @nivel.eql? "MI" or @nivel.eql? "MII" or @nivel.eql? "CI"))

	%h3
		=link_to "Syllabus: #{@ha.tipo_nivel.descripcion}", :controller => 'descarga', :action => 'syllabus', :nivel => @nivel, :idioma_id => @ha.idioma_id 
	%div.titulo Descarga syllabus correspondiente al curso actual

%h3
	=link_to "Descargar Fechas", :controller => 'descarga', :action => 'fechas' 
%div.titulo Programación de los Cursos de Idiomas


