.well.factura
	%h3= "Agregar Actividad:"
	= form_for([@examen, @segmentos.build]) do |f|
		= f.hidden_field :curso_idioma_id, :value => @examen.curso_idioma_id
		= f.hidden_field :curso_tipo_categoria_id, :value => @examen.curso_tipo_categoria_id
		= f.hidden_field :curso_tipo_nivel_id, :value => @examen.curso_tipo_nivel_id

		%table
			%tr.req
				%td.derecha.separado
					%b= "*Instrucciones:"
				%td
					= f.text_field :titulo, :style => 'width: 700px;'

			%tr.req
				%td.derecha.separado
					%b= "*Tipo de Actividad:"
				%td
					= f.collection_select :tipo_segmento_id, TipoSegmento.all, :id, :nombre, :prompt => true
			%tr.req
				%td.derecha.separado
					%b= "*Cantidad de ítems:"
				%td
					= f.number_field :cantidad_preguntas				
			%tr.req
				%td.derecha.separado
					%b= "*Puntaje de las ítems:"
				%td
					= f.number_field :valor_preguntas
			%tr
				%td
				%td
					%input.btn.small{:type => 'submit', :value => 'Agregar actividad', :name => 'commit'}