= form_for @tipo_segmento do |f|
  -if @tipo_segmento.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tipo_segmento.errors.count, "error")} prohibited this tipo_segmento from being saved:"
      %ul
        - @tipo_segmento.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :id
    = f.text_field :id

  .field
    = f.label :nombre
    = f.text_field :nombre
  .actions
    = f.submit 'Save'
