%div.well.well_small{:id => "form_pregunta_#{@actividad.id}", :style => 'display:none;'}
	%h2= "Agregar Nueva Preguta"
	= form_tag "/aceim/preguntas/agregar_sel_multiple" do
		=  hidden_field_tag :actividad_id, @actividad.id 
		=  hidden_field_tag :examen_id, @examen_id
		=  hidden_field_tag "pregunta[actividad_id]", @actividad.id 
		%table
			%tr.req
				%td.derecha.separado
					%b= "*Pregunta/Ítem:"
				%td{:style => 'width: 100%;'}
					= text_field_tag "pregunta[valor]", nil, {:placeholder => 'Pregunta/Ítem', :style => 'width: 100%;'}
			%tr
				%td.separado
					%b Opciones:
				%td
					.input_fields_wrap_multisel
						%div
							= text_field_tag nil, nil, {:placeholder => 'Opción', :name => "opciones[]", :style => 'width: 300px;'}
							%button.add_field_button_multisel.btn_agregar.small= " opciones"
			%tr.req
				%td.derecha.separado
					%b= "*Respuesta Correcta:"
				%td{:style => 'width: 100%;'}
					= text_field_tag "respuesta[valor]", nil, {:placeholder => 'Respuesta Correcta', :style => 'width: 300px;'}

			%tr.req
				%td.derecha.separado
					%b= "*Puntaje:"
				%td
					= number_field_tag "respuesta[puntaje]"


		%table
			%tr
				%td
					%input.btn_agregar.small{:type => 'submit', :value => 'Agregar Pregunta/Ítem', :name => 'commit'}
	
.division
= link_to " Pregunta a la actividad" , 'javascript:void(0)' , :class => "btn_agregar small", :onclick => "$(form_pregunta_"+@actividad.id.to_s+").show('slow'); $(this).remove();" 


:javascript

	$(document).ready(function() {
		var max_fields      = 10; //maximum input boxes allowed
		var wrapper         = ".input_fields_wrap_multisel"; //Fields wrapper
		var add_button      = $(".add_field_button_multisel"); //Add button ID
	   
		var x = 1; //initlal text box count
		$(add_button).click(function(e){ //on add input button click
			e.preventDefault();
			if(x < max_fields){ //max input box allowed
				x++; //text box increment
				$(wrapper).before('<div><input type="text" style="width: 300px;" placeholder="Opción" name="opciones[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
			}
		});
	
		$(wrapper).on("click",".remove_field", function(e){ //user click on remove text
			e.preventDefault(); $(this).parent('div').remove(); x--;
		})
	});