%div{:id => "actividad_#{@actividad.id}"}

	- @preguntas.each_with_index do |pregunta,i|
		- respuesta = pregunta.respuestas.first.valor if pregunta.respuestas.first 
		.well
			%p
				%b
					= pregunta.valor
					= "(#{respuesta})"
					= link_to 'Eliminar pregunta', {:action => 'eliminar_pregunta',:id => pregunta.id}, :data =>  { :confirm => '¿Está seguro?' }, :class => "btn_eliminar small", :style => 'background-color: lightsalmon;'

			%table.likert.tablefilter
				- pregunta.opciones.each_with_index do |opc,i|
					%tr
						%td= "#{i+1}."
						%td{:style => "min-width:300px;"}= opc.valor
						%td= radio_button_tag "opciones[#{opc.valor}]", nil, (opc.valor.casecmp(respuesta).zero?), :disabled => true, :class => 'radio'

						
		%p.division

.division