%div{:id => "actividad_#{@actividad.id}"}
	%ol{:type => 'A'}
		- @preguntas.each_with_index do |pregunta,i|
			- respuesta = pregunta.respuestas.first.valor if pregunta.respuestas.first 
			%li
				%div= raw pregunta.valor				
				- if action_name.eql? 'wizard_paso2' 
					= link_to 'Eliminar pregunta', {:action => 'eliminar_pregunta',:id => pregunta.id}, :data =>  { :confirm => '¿Está seguro?' }, :class => "btn_eliminar small", :style => 'background-color: lightsalmon;'

				- @respuestas = pregunta.respuestas
				%ol	
					- @respuestas.each do |respuesta|
						%li
							- if action_name.eql? 'wizard_paso2'
								%p
									= form_tag({:controller => 'preguntas',:action => "actualizar_puntaje_respuesta"}, {:class => "inline", :remote => true} ) do
										= hidden_field_tag :id, respuesta.id
										= hidden_field_tag :examen_id, @examen.id
										= text_field_tag nil, respuesta.valor, {:readonly => true}
										=" / #{respuesta.valor_alternativa1}" unless respuesta.valor_alternativa1.blank?
										=" / #{respuesta.valor_alternativa2}" unless respuesta.valor_alternativa2.blank?
										= '/ Puntaje:'
										= number_field_tag :puntaje, respuesta.puntaje, {:min => 1, :max => 20, :step => 0.5}
										= submit_tag "actualizar", :id => "submit", :name => "submit", :class => "btn small", :disable_with => "Actualizando..."
									.span2{:id => "respuesta_#{respuesta.id}", :style => 'padding:3px 3px; margin:2px 0px;'}
							- else
								%p
									= text_field_tag nil, respuesta.valor, {:readonly => true}
									=" / #{respuesta.valor_alternativa1}" unless respuesta.valor_alternativa1.blank?
									=" / #{respuesta.valor_alternativa2}" unless respuesta.valor_alternativa2.blank?

			%p.division
