%br/
%h3 
  =@historial.first.tipo_curso.descripcion
%table.tablesorter
  %thead
    %tr
      %th Nivel
      %th Horario
      %th Aula
      %th Periodo
      %th Parciales
      %th Calificación
  %tbody
    -@historial.each do |h|
      %tr
        %td= h.tipo_nivel.descripcion
        %td= h.seccion.horario
        %td= h.seccion.aula_corta if h.seccion
        %td= h.periodo_id
        %td
          %table
            %thead
              %tr
                - h.notas_en_evaluaciones.each do |eva| 
                  %td= eva.tipo_evaluacion.descripcion
            %tbody
              %tr
                - h.notas_en_evaluaciones.each do |eva| 
                  %td= eva.nota

        %td
          -if h.nota_final == -2
            SIN CALIFICAR
          -elsif h.nota_final == -1
            PERDIDA POR INASISTENCIA
          -else
            =h.nota_final.to_i
