%div{:id => "actualizar_segmento_#{@segmento.id}", :style => 'display:none;'}
  = form_tag(:action => "actualizar_segmento") do
    = hidden_field_tag :id, @segmento.id
    %table
      %tr.req
        %td.derecha.separado
          %b= "*Instrucciones:"
        %td
          = text_field_tag 'segmento[titulo]', @segmento.titulo, :style => 'width: 700px;'
      %tr.req
        %td.derecha.separado
          %b= "*Cantidad de ítems:"
        %td
          = number_field_tag "segmento[cantidad_preguntas]", @segmento.cantidad_preguntas
      %tr.req
        %td.derecha.separado
          %b= "*Puntaje de las ítems:"
        %td
          = number_field_tag 'segmento[valor_preguntas]', @segmento.valor_preguntas
      %tr
        %td
        %td
          %input.btn.small{:type => 'submit', :value => 'Actualizar Actividad', :name => 'commit'}