
%div{:id => "actualizar_actividad_#{@actividad.id}", :style => 'display:none;'}
  = form_tag(:action => "actualizar_actividad") do
    = hidden_field_tag :id, @actividad.id
    %table
      %tr.req
        %td.derecha.separado
          %b= "*Instrucciones:"
        %td
          = text_field_tag 'actividad[instrucciones]', @actividad.instrucciones, :style => 'width: 700px;'
      %tr
        %td
        %td
          %input.btn.small{:type => 'submit', :value => 'Actualizar Actividad', :name => 'commit'}