%h1= @titulo

= link_to 'Agregar Examen', {:action => 'wizard_paso1' }, :class => "btn" 
%br
.well
	%table.tablesorter.tablefilter.likert
		%thead
			%tr
				%th= 'Descripción de Curso'
				%th= 'Examenes'
		%tbody
			-@cursos.each do |curso|
				-if curso.examenes.count > 0
					%tr
						%td= curso.descripcion
						%td
							- curso.examenes.each do |e| 
								%p
									= e.descripcion_full
									= link_to 'Editar', {:action => 'wizard_paso2', :id => e.id}, {:class => 'btn_editar small'}
									|
									= link_to 'Vista Previa', {:action => 'previsualizar', :id => e.id}, {:class => 'btn_previsualizar small'}

:javascript
	$(function() {
		$( ".btn" ).button();
	});

	$( ".btn_editar").button({
		icons: {
		primary: "ui-icon-pencil"
		}
	});	

	$( ".btn_previsualizar").button({
		icons: {
		primary: "ui-icon-arrow-4-diag "
		}
	});
