%h1= @titulo
.well.factura
	%h3= link_to 'Eliminar examen', {:action => 'eliminar_examen', :id => @examen.id} , :data =>  { :confirm => '¿Está seguro?' },  :class => "btn_eliminar small flotar_derecha"
	.well
		%b{:style => 'float:left;'}= "Duración: #{@examen.duracion} minutos"
		.center
			%h2= @examen.titulo
			%h3= "Puntaje Total: #{@examen.puntaje_total} / 80"
	
		- @parte_examenes = @examen.parte_examenes.joins(:parte).order('parte.orden ASC')

		#parte
			%ul
				- @parte_examenes.each do |parte_examen|
					%li=  link_to parte_examen.parte.nombre, "##{parte_examen.parte_id}", :class => 'btn_idiomas'

			- @parte_examenes.each do |parte_examen|
				%div{:id => parte_examen.parte_id}
					= render :partial => '/actividades/wizard_list', :locals => {:parte_examen => parte_examen}

					%div{:id => "form_actividad_#{parte_examen.parte_id}", :style => 'display:none;'}
						=render :partial => '/actividades/wizard_form', :locals => {:parte_examen => parte_examen}
					.division
					= link_to " Actividad en #{parte_examen.parte.nombre}" , 'javascript:void(0)' , :class => "btn_agregar small", :onclick => "$(form_actividad_"+parte_examen.parte_id+").show('slow'); $(this).remove();" 

:javascript
	
	$("#parte").tabs();

	$( ".btn" ).button();
	
	$( ".btn_editar").button({
		icons: {
		primary: "ui-icon-pencil"
		}
	});	
	
	$( ".btn_eliminar").button({
		icons: {
		primary: "ui-icon-trash"
		}
	});

	$( ".btn_agregar").button({
		icons: {
		primary: "ui-icon-circle-plus"
		}
	});
	
	$( ".btn_remover").button({
		icons: {
		primary: " ui-icon-circle-minus"
		}
	});	
	
	$( ".radio" ).buttonset();

	function eliminar_pregunta(id, actividad_id){
		return $.get("/aceim/preguntas/"+"?data-method=delete",		
			function(data){ alert("Data: " + data + "\nStatus: " + status);} );
	};
