%h1= @titulo
.well.factura
	.well
		%br
		= link_to 'Eliminar examen', {:action => 'eliminar_examen', :id => @examen.id} , :data =>  { :confirm => '¿Está seguro?' },  :class => "btn small flotar_derecha"
		%b{:style => 'float:left;'}= "Duración: #{@examen.duracion} minutos"
		.center
			%h3 Universidad Central de Venezuela
			%h3 Facultad de Humanidades y Educación
			%h3 Escuela de Idiomas Modernos
			%h3= @examen.titulo
	.well
		#accordion
			=render :partial => '/segmentos/wizard_list'
		.division
		= link_to 'Agregar Actividad', 'javascript:void(0)' , :class => "btn", :onclick => "$(form_segmento).show('slow'); $(this).remove();"
		%div{:id => "form_segmento", :style => 'display:none;'}
			=render :partial => '/segmentos/wizard_form' 



:javascript
	$(function() {
		$( "#accordion" ).accordion();
		$( ".btn" ).button();
		$( ".radio" ).buttonset();
	});

	function eliminar_pregunta(id, segemnto_id){
		return $.get("/aceim/preguntas/22?data-method=delete",		
			function(data){ alert("Data: " + data + "\nStatus: " + status);} );
	};