= form_for @archivo, id: 'formArchivo' do |f|
  -if @archivo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@archivo.errors.count, "error")} prohibited this archivo from being saved:"
      %ul
        - @archivo.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Carga de Archivo:
    .field
      = f.label :nombre
      %p
        = f.text_field :nombre, required: true

    #agregar_url
      Banco de Archivos:
      - root_files = "#{Rails.root}/attachments/archivos/"
      - dir = Dir.glob("#{root_files}**/*").sort
      - dir.each{|d| d.slice! root_files}
      = f.select :url, dir
      %br
      = link_to 'Nuevo Archivo', 'javascript:void(0)', class: 'btn', onclick: "$('#nuevo_archivo').show(200);$('#agregar_url').hide();"
    #nuevo_archivo{style: 'display:none'}
      %label Seleccione el archivo a importar:
      = f.file_field 'upload_file', { :class => 'btn'}

  %fieldset
    %legend ¿Quienes verán este archivo?

    .field
    .field
      = f.label :bloque_horario
      - BloqueHorario.all.each do |bh| 
        = check_box_tag "bloques[#{bh.id}]", bh.id, false
        = bh.descripcion
        %br

      =# f.collection_select :bloque_horario_id, BloqueHorario.all, :id, :descripcion, multiple: true
    .field
      = f.label :idioma
      - Idioma.where("id != 'OR'").each do |idioma| 
        = check_box_tag "idiomas[#{idioma.id}]", idioma.id, false
        = idioma.descripcion

      =# f.collection_select :idioma_id, Idioma.all, :id, :descripcion_idioma    
    .field
      - niveles = TipoNivel.includes("curso").where("curso.grado !=0 AND tipo_nivel.id != 'BBVA'").order("curso.grado")

      = f.label 'Nivel'
      - niveles.each do |nivel| 
        = check_box_tag "nivel[#{nivel.id}]", nivel.id, false
        = nivel.descripcion

      =# f.collection_select :tipo_nivel_id, niveles, :id, :descripcion    
  .actions
    = f.submit 'Guardar', class: 'ui-button', id: 'enviar'
%br

:javascript
  $(".ui-button").button();

  $(document).ready(function () {

    $("#enviar").click(function(){
        if (($("input[name*='bloques']:checked").length)<=0) {
            alert("You must check at least 1 box");
        }
        return true;
    });

  });
