%h1 Lista de archivos

%table.tablesorter.likert
  %thead
    %tr
      %th Nombre
      %th nombre del archivo en disco
      %th Periodo
      %th Bloque forario
      %th Idioma
      %th Nivel
      %th

  %tbody
    - @archivos.each do |archivo|
      %tr
        %td= archivo.nombre
        %td= archivo.url.split("/").last
        %td= archivo.periodo_id
        %td= archivo.bloque_horario.descripcion
        %td= archivo.idioma.descripcion
        %td= archivo.tipo_nivel.descripcion
        %td
          = link_to 'Detalle', archivo
          |
          = link_to 'Editar', edit_archivo_path(archivo)
        / %td=# link_to 'Destroy', archivo, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Nuevo Archivo', new_archivo_path
