%p#notice= notice

%p
  %b Nombre:
  = @archivo.nombre
%p
  %b Url:
  = @archivo.url
%p
  %b Periodo:
  = @archivo.periodo_id
%p
  %b Horario:
  = @archivo.bloque_horario.descripcion
%p
  %b Idioma:
  = @archivo.idioma.descripcion
%p
  %b Nivel:
  = @archivo.tipo_nivel.descripcion

= link_to 'Edit', edit_archivo_path(@archivo)
\|
= link_to 'Back', archivos_path
