-if @actividad.textos.count > 0
	=javascript_include_tag "elrte.min.js"
	=javascript_include_tag "/aceim/assets/elrte.min"

	%script{:charset => "utf-8", :type => "text/javascript"}
		$().ready(function() {
		var opts = {
		lang         : 'es',
		styleWithCSS : false,
		height       : 400,
		toolbar      : 'normal',        // Se pueden usar las siguientes opciones: 'tiny', 'compact', 'normal', 'complete', 'maxi'
		allowSource  : false,
		};

		var editor = new elRTE(document.getElementById('contenido'), opts);

		});

	= form_tag({:controller => "textos", :action => "actualizar"},{:class => 'form'}) do
		=hidden_field_tag "actividad_id", @actividad.id
		=hidden_field_tag "examen_id", @examen_id
		=hidden_field_tag "texto_id", @actividad.textos.first.id

		%table
			%tr.req
				%td.derecha.separado
					%b= "*Contenido:"
				%td
					= text_area_tag :contenido, @actividad.textos.first.contenido, :class => :texto, :required => true, :style => 'width:600px;'
				%td
					%input.btn.small{:type => 'submit', :value => 'Actualizar texto', :name => 'commit'}
- else
	= link_to 'Agregar Texto', 'javascript:void(0)' , :class => "btn_agregar small", :onclick => "$(form_texto_#{@actividad.id}).show('slow'); $(this).remove();"
	%div{:id => "form_texto_#{@actividad.id}", :style => 'display:none;'}

		= form_for(@actividad.textos.build, {:url=>{:controller => 'textos',:action => "create"},:html => {:class => 'form'}}) do |f|
			=hidden_field_tag "actividad_id", @actividad.id
			=hidden_field_tag "examen_id", @examen_id
			%table
				%tr.req
					%td.derecha.separado
						%b= "*Contenido:"
					%td
						= f.text_area :contenido, :class => :texto, :required => true, :style => 'width:600px;'
					%td
						%input.btn.small{:type => 'submit', :value => 'Agregar Texto', :name => 'commit'}
