.well
	#accordion
		-@actividades = parte_examen.actividades
		- @actividades.each_with_index do |actividad,i|
			- @preguntas = actividad.preguntas
			%div	
				%p
					%b= "#{i+1} - #{actividad.descripcion}"
					-@actividad = actividad
					= link_to 'Actualizar Actividad', 'javascript:void(0)' , :class => "small btn_editar", :onclick => "$(actualizar_actividad_#{actividad.id}).show('slow'); $(this).remove();"
					= link_to 'Eliminar actividad', {:action => 'eliminar_actividad', :id => actividad.id} , :data =>  { :confirm => '¿Está seguro?'}, :class => "btn_eliminar small flotar_derecha"
					=render :partial => 'form_actualizar_actividad'#, :locals => {:actividad => actividad}
					=# link_to 'Eliminar actividad', '#' , :data =>  { :confirm => '¿Está seguro?' }, :class => "btn small", :onclick => "return eliminar_actividad(#{actividad.id})"

					.division
				=render :partial => '/actividades/incluir_texto'
				.small.well.factura
					- @examen_id = parte_examen.examen_id
					%h2= "Preguntas/Ítems:"
					- case actividad.tipo_actividad_id 
						- when 'SEL_MULTIPLE'#-> Seleccionar de lista (Seleccionar de una lista de opciones) 
							=render :partial => '/preguntas/lista_sel_multiple'
							=render :partial => '/preguntas/form_sel_multiple'
						- when 'COMPLETE_ESPACIO' #-> Completar Espacios
							=render :partial => '/preguntas/lista_completar_espacios'
							=render :partial => '/preguntas/form_completar_espacios'
						-else
							=render :partial => '/preguntas/lista_general'
							=render :partial => '/preguntas/form_general'
						-#OTROS TIPOS DE EJERCICIOS A FUTURO
						-#when 'CHECK' # Si va -> Marcar en Cuadro
							=#render :partial => '/preguntas/lista_check'
							=#render :partial => '/preguntas/form_check'
						-#when 'TEXT' # Si va -> Redacion Libre
							=#render :partial => '/preguntas/lista_text'
							=#render :partial => '/preguntas/form_text'
						-# when 'PREGUNTA_ABIERTA'# Si va -> Responder Preguntas 
							=#render :partial => '/preguntas/lista_text'
							=#render :partial => '/preguntas/form_text'
						-# when 'COMPLETACION'# Si ve -> Completar, rellenar 
							=#render :partial => '/preguntas/lista_completacion'
							=#render :partial => '/preguntas/form_completacion'

						-#when 'PREPOSITION' # Si va -> Seleccionar de Recuadro
							=#render :partial => '/preguntas/lista_preposition'
							=#render :partial => '/preguntas/form_preposition'
						-#when 'PRONOUN' # Si va _> Sin Nombre
							=#render :partial => '/preguntas/lista_pronoun'
							=#render :partial => '/preguntas/form_pronoun'
						-#when 'VERB' # No va
							=#render :partial => '/preguntas/lista_verb'
							=#render :partial => '/preguntas/form_verb'
						-#when 'VERDAD_FALSO' #Si va -> Verdadero o Falso
							=#render :partial => '/preguntas/lista_verdad_falso'
							=#render :partial => '/preguntas/form_verdad_falso'							

