%h1 Listing Actividades

%table
  %tr
    %th Instrucciones
    %th Tipo Actividad
    %th Curso
    %th

  - @actividades.each do |actividad|
    %tr
      %td= actividad.instrucciones
      %td= actividad.tipo_actividad.descripcion
      %td= actividad.curso.descripcion
      %td
        = link_to 'Ver', actividad
        = link_to 'Editar', edit_actividad_path(actividad)
        = link_to 'Eliminar', actividad, :confirm => '¿Está Seguro?', :method => :delete

%br

= link_to 'New Actividad', new_actividad_path
