%p
  %b Descripcion
.well
  %p
    %b Curso:
    = @actividad.curso.descripcion 
  %p
    %b Tipo actividad:
    = @actividad.tipo_actividad.descripcion
  %p
    %b Instrucciones:
    = @actividad.instrucciones
  %p
    %b Examenes-partes a los que pertenece esta actividad:

  %table.tablesorter.tablefilter
    %thead
      %th Id
      %th Examen
      %th Parte

    %tbody
      - @actividad.parte_examenes.each do |pe|
        %td= pe.id
        %td= " #{pe.examen.descripcion_simple} |#{pe.examen.descripcion_completa}"
        %td= pe.parte.nombre

.well
  %p
    %b Preguntas:
  - @actividad.preguntas.each do |p|
    .factura
      %p= p.valor

      %p
        %b Opciones:
      - p.opciones.each do |opcion|
        %p= opcion.valor

      %p
        %b Respuestas:
      - p.respuestas.each do |resp|
        %p= resp.valor

    %br
  %h2= "Agregar Pregunta:"
  = form_for([@actividad, @actividad.preguntas.build]) do |f|
    .field
      = f.label :valor
      %br
      = f.text_field :valor
    .actions
      = f.submit

= link_to 'Edit', edit_actividad_path(@actividad)
|
= link_to 'Back', actividades_path
