= "Tiempo: #{@estudiante_examen.tiempo}"
=link_to_function "Regresar", "history.back()", :class => 'btn_atras' unless action_name.eql? 'presentar' 

.well
  %h3{:style => 'float:left;'}= "Duración: #{@examen.duracion} minutos"
  .center
    %h1= @titulo
  - @parte_examenes = @examen.parte_examenes.joins(:parte).order('parte.orden ASC')
  #parte
    %ul
      - @parte_examenes.each do |parte_examen|
        - if parte_examen.actividades.count > 0 
          %li=  link_to parte_examen.parte.nombre, "##{parte_examen.parte_id}", :class => 'btn_idiomas'
    #siempre_tope.well.small{:style => 'background-color: black; color: greenyellow; margin-top:210px; position: fixed;'}
      = hidden_field_tag 'tiempo', @estudiante_examen.tiempo, :class => 'tiempo'
      %p
        %b
          = 'El examen se termina en'
          %span#time= @estudiante_examen.tiempo
          = 'minutos'

    - @parte_examenes.each do |parte_examen|
      - if parte_examen.actividades.count > 0 
        %div{:id => parte_examen.parte_id}
          =#Actividades
          - @actividades = parte_examen.actividades
          - @actividades.each do |actividad|
            %H2= actividad.descripcion_sin_tipo
            =#Texto Agregado 
            - if actividad.textos.count > 0
              .well
                %div= raw actividad.textos.first.contenido
            - @actividad = actividad
            =#Adjuntos
            - actividad.adjuntos.each do |adjunto|
              - ext = adjunto.archivo.split('.').last
              - imagenes = ['png', 'jpeg', 'jpg']
              - audios = ['mp3', 'mpeg', 'ogg', 'wav']
              .well.small
                - if imagenes.include? ext
                  %h2 Imagen:
                  = image_tag @host+adjunto.archivo, :style => 'padding: 0 130px; width: 70%;' 
                - else audios.include? ext
                  %h2 
                    Audio:
                    = audio_tag @host+adjunto.archivo, :class => "audio-play", :controls => true
            - @preguntas = actividad.preguntas
            =#Preguntas
            - if @preguntas.count > 0   
              %h2= "Preguntas/Ítems:"
              .well
                - case actividad.tipo_actividad_id 
                  - when 'SEL_MULTIPLE' 
                    =render :partial => '/preguntas/lista_sel_multiple'
                  - when 'COMPLETE_ESPACIO'
                    =render :partial => '/preguntas/lista_completar_espacios'
                  -else
                    =render :partial => '/preguntas/lista_general'

%h2=link_to "He Terminado el Examen", {:action =>'completar', :id => @estudiante_examen.id.to_s}, {:class => 'btn flotar_derecha', :data =>  { :confirm => '¿Confirma que ha finalizado el Examen. Este proceso es irreversible?' }, :id => 'terminar'}
=#link_to "", {:action =>'completar', :id => @estudiante_examen.id.to_s}, {:id => 'terminar', :class => 'btn flotar_derecha'}

:javascript
  
  $("#parte").tabs();

  $( ".btn" ).button();
  
  $( ".btn_editar").button({
    icons: {
    primary: "ui-icon-pencil"
    }
  }); 
  
  $( ".btn_eliminar").button({
    icons: {
    primary: "ui-icon-trash"
    }
  });

  $( ".btn_previsualizar").button({
    icons: {
    primary: "ui-icon-arrow-4-diag "
    }
  });

  $( ".btn_atras").button({
    icons: {
    primary: "ui-icon-carat-1-w"
    }
  });

  $( ".btn_agregar").button({
    icons: {
    primary: "ui-icon-circle-plus"
    }
  });
  
  $( ".btn_remover").button({
    icons: {
    primary: " ui-icon-circle-minus"
    }
  }); 



  function startTimer(duration, display) {
      var timer = duration, minutes, seconds;
      setInterval(function () {
          minutes = parseInt(timer / 60, 10)
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.textContent = minutes + ":" + seconds;
          $('.tiempo').val(minutes)
          if (--timer == 0) {
              alert ('Terminó su tiempo');
              $(location).attr('href', '/aceim/principal/tiempo_agotado');
          }
      }, 1000);
  }

  window.onload = function () {
      var fiveMinutes,
      display = document.querySelector('#time');
      valor = $('#tiempo').val()
      minutes = 60 * valor
      startTimer(minutes, display);
  };
