= render :partial => 'totales'

.well
  %h2 Detalles de las respuestas incorrectas:
  %ul
  - @estudiante_examen.estudiante_examen_respuestas.each do |eer|  
    - unless eer.es_correcta?
      .well.req
        %li
          %p
            = text_field_tag nil, eer.valor, :disabled => true
            = "Respuesta correcta: #{eer.respuesta.correcta} (#{eer.respuesta.puntaje} puntos)"
